$link-default:         #222222;
$link-default-hover:   #0187CE;

$blue-highlight:       #0a87bf;
$yellow-highlight:     #f3c904;
$purple-highlight:     #9a358d;
$green-highlight:      #68ae3c;
$red-highlight:        #f01d24;

$slidebar-background:  rgba(255,255,255,1);
$slidebar-color:       rgba(0,0,0,1);

$font-lucida:          "Lucida Grande","Lucida Sans Unicode","Helvetica","Arial","Verdana","sans-serif";
$font-myriad:          "myriad-pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";