@import "bourbon/bourbon";
@import "base/base";
@import "grid-settings";
@import "neat/neat";
@import "custom-grid";
@import "variables";
@import "components";
// @import "typography";


* {
    position:relative;
    margin:0;
    padding:0;
    @include box-sizing(border-box);
    @include animation(visibility 1.0s ease-in);
    font-family: $font-lucida;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-myriad;
	font-weight: 100;
}

html {
	overflow-x:hidden;
}

body {
	background-color:#f4f4f4;
}

.hide {
	display:none;
}
.pointer {
	cursor: pointer;
}


header {

	#desktop_menu {
		// Menu
		nav	{
			> ul {
				display:block;
				text-align:left;
				> li {
					display:inline-block;
					a {
						display:block;
						border-bottom:2px solid transparent;
						padding:10px 20px;
						font-family: $font-myriad;
						font-size:18px;
						color: $link-default;
						text-transform: uppercase;
						letter-spacing:0.0125em;
						@media (max-width:980px) {
							padding:10px 5px;
							font-size:16px;
						}
					}
					&:hover,
					&.active {
						a {
							color: $link-default-hover;
							border-bottom:none;
							background:#000;
						}
						> ul > li a {
							color:inherit;
						}
					}
					&:hover {
						// Submenu
						> ul {
							opacity:1;
							transform: scale(1.0);
						}
					}

					// Submenu
					> ul {
						list-style:none;
						position:absolute;
						z-index:9999;
						opacity:0;
						transform: scale(0.0);
						transform-origin: 0 0;
						transition: all .2s ease-in-out;
						border-left:1px solid #ccc;
						border-right:1px solid #ccc;
						border-bottom:1px solid #ccc;
						> li {
							white-space: nowrap;
							a {
								background:#fff;
								color: $link-default;
								border-left:3px solid transparent;
							}
						}
						> li:hover {
							a {
								background:#fafafa;
								color: $link-default-hover;
							}
						}
						> li.active {
							a {
								color: $link-default-hover;
								border-left:3px solid #222;
								background:#fafafa;
								left:-1px;
							}
						}
					}
				}
			}
		}
	} // Desktop Menu

}


@media only screen and (max-width: 768px) {
	#desktop_menu {display:none;}
	#mobile_menu  {display:block;}
}
@media only screen and (min-width: 769px) {
	#desktop_menu {display:block;}
	#mobile_menu  {display:none;}
}


